.scroll {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
}

.scroll {
    background-color: #ffffff0e !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.scroll swiper-container {
    width: 100%;
    height: 100%;
}


.scroll swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff53;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.scroll swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width : 750px) {

    .scroll .swiper-slide-prev {
        width: 300px !important;

    }

    .scroll .swiper-slide-active {
        width: 300px !important;

    }

    .scroll .swiper-slide-next {
        width: 300px !important;

    }


}

// -------- memorys of animation card image-----------

.discover {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
    height: 80vh;

    swiper-container {
        width: 100%;
        height: 100%;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10%;
    }

}

@media screen and (max-width : 500px) {

    .discover .swiper-slide-prev {
        width: 100% !important;

    }

    .discover .swiper-slide-active {
        width: 100% !important;

    }

    .discover .swiper-slide-next {
        width: 100% !important;
    }

    .discover swiper-slide {
        margin-top: 0 !important;
    }

    .discover {
        width: 95vw;
        height: 60vh;
    }

    .discover swiper-slide img {
        padding: 10% !important;
        border-radius: 10% !important;
        padding-bottom: 1rem;

    }

    .section02 {
        height: 90vh !important;

        h2 {
            font-size: 1rem !important;
            padding: 2rem 0 !important;
        }
    }

    .section03 {
        .row {
            width: 100% !important;
        }
    }

}

// ======text animation =======

@import url('https://fonts.googleapis.com/css?family=Roboto:700');


.animation_h3 {
    text-shadow: 0 0 7px rgba(142, 141, 141, 0.3), 0 0 3px rgba(0, 0, 0, 0.699);
    font-family: 'Roboto';
    color: #fdffff !important;
}

.Text_container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    z-index: 50;
    bottom: 26rem;

}

.text-droping {
    font-size: 15px;
}

.animation {
    height: 60px;
    overflow: hidden;
    margin-left: 0rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 10s infinite;
}

.first div {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
    font-family: 'Roboto';
    text-align: center;


}

.second div {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
    font-family: 'Roboto';
    text-align: center;
    background-color: #02957f;
}

.third div {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
    font-family: 'Roboto';
    text-align: center;
}



@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

@media screen and (min-width : 250px) and (max-width :480px) {
    .Text_container {
        color: #e5e5e5;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index: 50;

    }

    .animation_h3 {
        text-shadow: 0 0 7px rgba(142, 141, 141, 0.3), 0 0 3px rgba(0, 0, 0, 0.699);
        font-family: 'Roboto';
        color: #fdffff !important;
        font-size: 18px !important;
    }
}