$textColor: #FFC000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// --------fixed tow btn----------
.fixed_tow-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 50;



    .btn {
        padding: 10px 15px;
        background-color: #ffffff1f;
        color: $textColor;
        border: 2px solid $textColor;
        font-weight: 600;
        display: block;


    }
}

// -----------manin sliding home page body---------------
.main_div {
    width: 100vw;
    height: 96vh;
    display: flex;
    position: relative;
    border-bottom: 1px solid $textColor;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        color: #f4f4f4;
        background-color: #0000001c;
        height: 60px;
    }

    .carousel-control-next-icon:hover {
        color: #f4efef;
        background-color: #c8c8c8;
    }

    .carousel-control-prev-icon:hover {
        color: #f4efef;
        background-color: #c8c8c8;
    }

    .carousel-inner {
        height: 96vh !important;
        width: 100vw !important;
    }

    .imagediv {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        top: 60px;

        h1 {
            color: $textColor;
        }

        h3 {
            color: #141414;
        }

        p {
            color: #949494;
        }

        .btn {
            background-color: $textColor;
            color: #fff1f1;
            font-weight: 600;
            font-size: 18px;
            float: left;
        }
    }
}

// ---------navbar Design ---------

.navbar {
    background-color: #fff;
    position: fixed !important;
    top: 0;
    z-index: 70;
    border-bottom: 1px solid #ebe8e872;

    .container-fluid {



        a {
            color: $textColor;
            font-size: 1rem;
        }

        .fa-bars {
            color: #fff;
        }
    }

    .navbar-collapse {


        .navbar-nav {

            display: flex;
            align-items: center;
            justify-content: center;

            li {


                a {
                    color: $textColor;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;


                    &:hover {
                        content: "";
                        color: #3d3c3c;
                    }

                }


                .dropdown-menu {
                    background-color: #00000037;

                    li :hover {
                        background-color: #d1b5008a;
                    }
                }


            }

        }
    }
}

@media screen and (max-width: 900px) and (min-width: 200px) {

    .navbar {
        padding-bottom: 1.5rem !important;
        background-color: #ffffff;
    }

    .navbar-collapse {
        background-color: #ffffff;
        padding: 1rem 0;
        position: relative;
        z-index: 40 !important;
    }

    .logo {
        color: #33ebd5;
        font-weight: 900;
        font-family: 'Anek Gujarati', sans-serif;
        font-size: 1.5rem !important;
        // font-family: 'PT Sans Narrow', sans-serif;
        // font-family: 'Poppins', sans-serif;
    }

    .fixed_tow-btn {
        position: fixed;
        bottom: 100px !important;
        right: 20px;
        z-index: 50;



        .btn {
            padding: 10px 15px;
            background-color: #ffffff1f;
            color: $textColor;
            border: 2px solid $textColor;
            font-weight: 600;
            display: block;


        }
    }
}