* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main_div {
    width: 100vw;
    height: 98vh;
    display: flex;
    position: relative;
}

.main_div .children_div {
    width: 100vw;
    height: 30vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.203);
    bottom: 1rem;
    padding: 0.5rem 0;
}

#tour_text {
    position: relative;
    color: #ffffff;
    padding-top: 5rem;
    margin-top: 5rem;
    z-index: 20;
}

// ----image overlay background ------
.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(1, 25, 39, 0.635) 50%, rgba(21, 20, 20, 0.932) 100%);
    /* W3C */

}

.img-gradient img {
    display: block;
    object-fit: cover;
}

// ---------navbar Design ---------

.navbar {
    background-color: #00000007;
    position: relative;
    z-index: 30;

    .container-fluid {



        a {
            color: #fff;
            font-size: 1rem;

            .logo {
                color: #33ebd5;
                font-weight: 900;
                // font-family: 'Anek Gujarati', sans-serif;
                font-size: 1.5rem;
                font-family: 'Righteous', cursive;
                // font-family: 'Roboto Condensed', sans-serif;
            }
        }

        .fa-bars {
            color: #fff;
        }
    }

    .navbar-collapse {


        .navbar-nav {

            display: flex;
            align-items: center;
            justify-content: center;

            li {


                a {
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;


                    &:hover {
                        content: "";
                        color: #33ebd5;
                    }

                }


                .dropdown-menu {
                    background-color: #00000079;

                    li :hover {
                        background-color: #0303038a;
                    }
                }


            }

        }
    }
}

@media screen and (max-width: 900px) and (min-width: 200px) {

    .navbar {
        padding-bottom: 1.5rem !important;
        background-color: #0000001b;
    }

    .navbar-collapse {
        background-color: #00000079;
        padding: 1rem 0;
        position: relative;
        z-index: 40 !important;
    }

    .logo {
        color: #33ebd5;
        font-weight: 900;
        font-family: 'Anek Gujarati', sans-serif;
        font-size: 1.5rem !important;
        // font-family: 'PT Sans Narrow', sans-serif;
        // font-family: 'Poppins', sans-serif;
    }
}