@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100&family=Anek+Odia:wght@100;600&family=Beau+Rivage&family=Kanit:ital,wght@0,500;0,600;1,500&family=Oswald:wght@400;500;600;700&family=PT+Sans+Narrow:wght@700&family=Poppins&display=swap");
/* font-family: 'Anek Gujarati', sans-serif;
font-family: 'Anek Odia', sans-serif;
font-family: 'Beau Rivage', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixed_tow-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 50;
}
.fixed_tow-btn .btn {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1215686275);
  color: #FFC000;
  border: 2px solid #FFC000;
  font-weight: 600;
  display: block;
}

.main_div {
  width: 100vw;
  height: 96vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid #FFC000;
}
.main_div .carousel-control-prev-icon,
.main_div .carousel-control-next-icon {
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.1098039216);
  height: 60px;
}
.main_div .carousel-control-next-icon:hover {
  color: #f4efef;
  background-color: #c8c8c8;
}
.main_div .carousel-control-prev-icon:hover {
  color: #f4efef;
  background-color: #c8c8c8;
}
.main_div .carousel-inner {
  height: 96vh !important;
  width: 100vw !important;
}
.main_div .imagediv {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_div .carousel-caption {
  top: 60px;
}
.main_div .carousel-caption h1 {
  color: #FFC000;
}
.main_div .carousel-caption h3 {
  color: #141414;
}
.main_div .carousel-caption p {
  color: #949494;
}
.main_div .carousel-caption .btn {
  background-color: #FFC000;
  color: #fff1f1;
  font-weight: 600;
  font-size: 18px;
  float: left;
}

.navbar {
  background-color: #fff;
  position: fixed !important;
  top: 0;
  z-index: 70;
  border-bottom: 1px solid rgba(235, 232, 232, 0.4470588235);
}
.navbar .container-fluid a {
  color: #FFC000;
  font-size: 1rem;
}
.navbar .container-fluid .fa-bars {
  color: #fff;
}
.navbar .navbar-collapse .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-collapse .navbar-nav li a {
  color: #FFC000;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.navbar .navbar-collapse .navbar-nav li a:hover {
  content: "";
  color: #3d3c3c;
}
.navbar .navbar-collapse .navbar-nav li .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.2156862745);
}
.navbar .navbar-collapse .navbar-nav li .dropdown-menu li :hover {
  background-color: rgba(209, 181, 0, 0.5411764706);
}

@media screen and (max-width: 900px) and (min-width: 200px) {
  .navbar {
    padding-bottom: 1.5rem !important;
    background-color: #ffffff;
  }
  .navbar-collapse {
    background-color: #ffffff;
    padding: 1rem 0;
    position: relative;
    z-index: 40 !important;
  }
  .logo {
    color: #33ebd5;
    font-weight: 900;
    font-family: "Anek Gujarati", sans-serif;
    font-size: 1.5rem !important;
  }
  .fixed_tow-btn {
    position: fixed;
    bottom: 100px !important;
    right: 20px;
    z-index: 50;
  }
  .fixed_tow-btn .btn {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1215686275);
    color: #FFC000;
    border: 2px solid #FFC000;
    font-weight: 600;
    display: block;
  }
}
footer {
  background: rgba(255, 255, 255, 0.9058823529);
}
footer a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
}
footer .form-control {
  background: #ffffff;
  border-color: #545454;
}
footer .form-control:focus {
  background: #212529;
}
footer h5 {
  font-family: "Righteous", cursive;
  color: #FFC000;
  font-weight: 900;
}
footer .copyright {
  font-size: 1rem;
}

.Explore {
  width: 100vw;
  height: auto;
  border: unset !important;
}
.Explore .row .card {
  border: unset !important;
}
.Explore .row h1 {
  color: #FFC000;
}
.Explore .row .btn {
  background-color: #FFC000;
}
.Explore .row .img {
  width: 500px;
}
.Explore .row .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 700px) and (min-width: 200px) {
  .img {
    width: 300px !important;
  }
  .img img {
    width: 300px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.payment {
  width: 100vw;
  padding: 10px 0;
}
.payment .payment_img {
  width: 60vw;
  margin: 0 auto;
}
.payment img {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 700px) and (min-width: 200px) {
  .payment {
    width: 100vw;
    padding: 5px 0 !important;
  }
  .payment_img {
    width: 100vw !important;
    margin: 0 auto;
  }
  .carousel-inner {
    width: 100vw !important;
    margin: 0 15px;
  }
}
.About_TYT .text {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About_TYT h1 {
  color: #FFC000;
  padding: 10px 0;
}

.Questions .text {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Questions .accordion-item .accordion-button {
  color: #0b0b0b !important;
  font-weight: 600;
  font-style: italic;
}
.Questions .accordion-item .accordion-button span {
  color: #ed7b01;
  font-size: 20px;
}
.Questions p {
  font-size: 16px;
  font-weight: 400;
  font-style: initial;
}
.Questions h1 {
  color: #FFC000;
}

.Client-review {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}
.Client-review .card {
  border-radius: 60px 0 60px 0;
  padding: 20px 0;
}
.Client-review h2 {
  color: #FFC000;
  font-weight: 600;
}
.Client-review .rating-color {
  color: #fbc634 !important;
}/*# sourceMappingURL=main.css.map */